Write a NumPy program to find the number of elements
of an array, length of one array element in bytes and total
bytes consumed by the elements.

In [1]:
import numpy as np

In [2]:
arr=np.array([1,5,2,3,6,9],dtype=np.float32)
len(arr)

6

In [7]:
print(arr)
print(arr.size)
print(arr.nbytes)

[1. 5. 2. 3. 6. 9.]
6
24

In [8]:
import pandas as pd

Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
Expexted output:-
0
1
2
3
4
Done!

In [11]:
n=int(input("enter value:"))
if n <=5:
    for i in range(n):
        print(i)
else:
    print("Done!")

enter value:7
Done!

Explain different ways of creating Data Frames in Panda?(write code for each)
By making use of lists?
By making use of a dictionary of lists?
By using arrays?

In [12]:
import pandas as pd

In [13]:
l1=[1,2,3]
dict1=({
    'a':1,
    'b':2,
    'c':3
})

In [17]:
df_dict=pd.DataFrame([dict1])

In [18]:
df_dict

   a  b  c
0  1  2  3

In [19]:
df_list=pd.DataFrame([l1])

In [20]:
df_list

   0  1  2
0  1  2  3

Given two numbers n and r, find the value of nCr (binomial coefficient: nCr = (n!) / (r! * (n-r)!))

In [29]:
n=int(input("enter value for n:"))
r=int(input("enter value for r:"))
nCr=1
fact1=1
fact2=1
fact3=1
fact4=1
for i in range(1,n+1):
    fact1 = fact1*i
print("n!",fact1)
for j in range(1,r+1):
    fact2=fact2*j
print("r!",fact2)
fact3=n-r
for k in range(1,fact3+1):
    fact4=fact4*k
print("n-r",fact4)
nCr=(fact1)/(fact2 * fact4)
print("nCr",nCr)

enter value for n:6
enter value for r:8
n! 720
r! 40320
n-r 1
nCr 0.017857142857142856

 Input a text file (containing 1 or more paragraphs of English text) from the user, parse this file to display the frequency of occurrence of each word in this text file. Find the 3 most frequent words as well.

In [36]:
str1=str(input("enter string"))
str2=''
for i in (0,len(str1)):
    for j in (i+1,len(str1)):
        if (str1[i] == str1[i+1]):
            
            str2.append(str1)
    print(str2)

enter stringvisvis

IndexError: string index out of range

How to replace missing spaces in a string with the least frequent character?
input:-my_str = 'dbc deb abed gade'
output:-'dbccdebcabedcgade' # least frequent is 'c'

In [43]:
my_str = 'dbc deb abed gade'

for i in my_str:
    if my_str[i]=='':
        print(my_str.repalce('','c'))

TypeError: string indices must be integers